<ion-content [scrollY]="false">
  <div class="landing-wrapper">
    <div class="bg-logo">
      <img src="assets/logo-colegio.png" alt="" />
    </div>
    <div class="landing-card">
      <img src="assets/logo-colegio.png" alt="Logo Colegio" class="landing-logo" />
      <h1 class="landing-title">Colegio Bernardo O'Higgins</h1>
      <p class="landing-subtitle">Coquimbo · Chile</p>
      <p class="landing-year">1995 — 2026</p>
      <div class="divider"></div>
      <button class="btn-ingresar" (click)="irAlLogin()">
  <ion-icon name="log-in-outline"></ion-icon>
  Ingresar al Sistema
</button>
      <p class="landing-footer-text">Plataforma de Libro de Clases Digital · DuocUC 2025</p>
    </div>
  </div>
</ion-content>